@model NumberGuessingGame.ViewModels.SecretNumberViewModel

@{
    ViewBag.Title = "Guess";
}

<div id="mainWrapper">
    <h1>Guess the Secret Number</h1>

    <div id="gameWrapper">
        <h2>Make a guess between 1 and 100</h2>
        @using (Html.BeginForm())
        {
            <h2>@Model.GuessMessage</h2>
            @Html.TextBoxFor(viewModel => viewModel.UserGuess)
            <input id="submit" type="submit" value="send" />
            @Html.ValidationMessageFor(viewModel => viewModel.UserGuess)
        }        
        @Html.Partial("_GameResults")

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (Model.CanMakeGuess)
    { 
        <script type="text/javascript">
            $("#UserGuess").val("");
            $("#UserGuess").focus();
        </script>
    }
    else
    {
        <script type="text/javascript">
            $("#UserGuess").prop("disabled", true);
            $("#submit").prop("disabled", true);
        </script>
    }
}